body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.header-logo-bikcraft {
  display: block;
  width: 10%;
  margin-bottom: 3rem;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-list-item {
  list-style: none;
}

.header-list-link {
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;

  margin: 0 auto;
}

.content-first-section {
  background-color: #fff;
}

.content-image {
  width: 70%;
}
