* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.header-logo-bikcraft {
  display: block;
  width: 10%;
  margin-bottom: 3rem;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-list-item {
  list-style: none;
}

.header-list-link {
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.content-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  /* width: 1200px; */
  margin-bottom: 4rem;
}

.content-nimbus {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color: #fff;
  padding-right: 2rem;
}

.content-nimbus-title {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-nimbus-description {
  font-size: 1.2rem;
  line-height: 1.3em;
  width: 400px;
  display: inline-block;
  text-align: end;
  margin-bottom: 1rem;
}

.content-nimbus-button {
  display: inline-block;
  background-color: #ee2211;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.7rem 1.1rem;
  border-radius: 4px;
}

.content-image {
  width: 100%;
}

.content-vantagens {
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding-right: 2rem; */
  padding: 8rem 2rem;
}

.content-vantagens-title {
  color: #c6c6c6;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: end;
}

.content-diferenciais {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* .content-diferenciais-icons {
  display: flex;
  align-items: center;
} */

.content-diferenciais {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem 0 2rem 2rem;
}

.content-diferenciais-image {
  display: block;
}

.content-diferenciais-icons {
  width: 60%;
}

span {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: #fff;
  padding: 2rem 0;
}

.footer-descricao {
  font-size: 1.2rem;
  text-align: center;
}
